<li>
	<a href="{{ site.social.scholar }}" target="_blank">
		<svg
			id="scholar"
			class="custom-icon"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
			style="height: 30px; width: 30px;"
		>
			<circle
				class="outer-shape"
				cx="50"
				cy="50"
				r="48"
				style="opacity: 1;"
			></circle>
			<path
				class="inner-shape"
				style="opacity: 1;"
				transform="translate(22,28) scale(0.58)"
				d="M48,0L0,24l16,8.6v24.2C16,56.8,28.6,68,48,68s32-11.2,32-11.2V32.6L96,24L48,0z M48,60 c-14.4,0-24-8-24-8V36.6L48,49l24-12.4V52C72,52,62.4,60,48,60z"
			></path>
			<path
				class="inner-shape"
				style="opacity: 1;"
				transform="translate(22,28) scale(0.58)"
				d="M88,28v28h8V28H88z"
			></path>
		</svg>
	</a>
</li>
