<li>
	<a href="{{ site.social.scholar }}" target="_blank">
		<svg
			id="scholar"
			class="custom-icon"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 0 100 100"
			style="height: 30px; width: 30px;"
		>
			<circle
				class="outer-shape"
				cx="50"
				cy="50"
				r="48"
				style="opacity: 1;"
			></circle>
			<path
				class="inner-shape"
				style="opacity: 1;"
				transform="translate(25,25) scale(0.5)"
				d="M50,3 L0,30 L20,40 L20,70 C20,70 32,82 50,82 C68,82 80,70 80,70 L80,40 L90,35 L90,68 L97,68 L97,30 L50,3 Z M50,72 C36,72 28,63 28,63 L28,44 L50,55 L72,44 L72,63 C72,63 64,72 50,72 Z"
			></path>
		</svg>
	</a>
</li>
