<li>
	<a href="https://x.com/{{ site.social.twitter }}" target="_blank">
		<svg
			id="twitter"
			class="custom-icon"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
			style="height: 30px; width: 30px;"
		>
			<circle
				class="outer-shape"
				cx="50"
				cy="50"
				r="48"
				style="opacity: 1;"
			></circle>
			<path
				class="inner-shape"
				style="opacity: 1;"
				transform="translate(25,25) scale(0.5)"
				d="M59.3,18.7L50,29.8L40.7,18.7H18.7l22.6,31.5L18.7,81.3h8.4l12.9-15.4l12.9,15.4h22L52.3,49.8L74.5,18.7H59.3z M36.2,25.3l28.1,39.2h-5.5L30.7,25.3H36.2z"
			></path>
		</svg>
	</a>
</li>
